<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bundling and Minification</h5>
        <p class="card-text">Apply bundling and minification to an existing set of assets.</p>
        <h6>Tasks:</h6>
        <ul>
            <li>
                Minify the stylesheet.css file included with this solution.
            </li>
            <li>
                Bundle the minified stylesheet.css file with the other assets included with the solution.
            </li>
        </ul>
        <h6>Bonus:</h6>
        <ul>
            <li>
                Apply a cache busting querystring to the asset bundle.
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Medium (20-40 Minutes)</small>
    </div>
</div>