<div class="card">
    <div class="card-body">
        <h5 class="card-title">Dependency Injection</h5>
        <p class="card-text">Apply the Inversion of Control principal using Dependency Injection.</p>
        <h6>Tasks:</h6>
        <ul>
            <li>
                Create a class to perform any given action i.e Generate a random number.
            </li>
            <li>
                Register the class using a Dependency Injection container.
            </li>
            <li>
                Inject the class into a controller using a Dependency Injection container.
            </li>
        </ul>
        <h6>Bonus:</h6>
        <ul>
            <li>
                Register the class with an interface using a Dependency Injection container.
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Easy (10-20 Minutes)</small>
    </div>
</div>