<div class="card">
    <div class="card-body">
        <h5 class="card-title">File Streams</h5>
        <p class="card-text">Create one or more controller methods that stream files back to the caller.</p>
        <h6>Tasks:</h6>
        <ul>
            <li>
                Create a controller that can stream files from the file system.
            </li>
            <li>
                Replace at least two assets requests in this page (/assets/css etc.) with the new controller endpoint.
            </li>
        </ul>
        <h6>Bonus:</h6>
        <ul>
            <li>
                Apply a restriction to only serve files within a given folder.
            </li>
            <li>
                Apply a restriction to only serve the first 100KB of any given text file.
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Medium (20-40 Minutes)</small>
    </div>
</div>