@{
    Layout = "_Layout";
}
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <img src="/assets/img/logo.png" alt="Logo" class="logo" />
            <p>Welcome to the C# Technical Test.</p>
            <p>This test consists of a number of tasks outlined below that can be completed in any order. You do not have to complete all tasks.</p>
            <p>Once complete, please .zip your submission with any notes or relevant comments and send it back.</p>
        </div>
    </div>
    <div class="container">
        <div class="card-columns">
            <partial name="DICardpartial.cshtml" />
            <partial name="WebAPICardpartial.cshtml" />
            <partial name="FileStreamCardPartial.cshtml" />
            <partial name="MVCCardPartial.cshtml" />
            <partial name="BandMCardPartial.cshtml" />
        </div>
    </div>
</main>

