<div class="card">
    <div class="card-body">
        <h5 class="card-title">MVC Layouts</h5>
        <p class="card-text">Convert an existing HTML document to a re-usable MVC layout.</p>
        <h6>Tasks:</h6>
        <ul>
            <li>
                Extract any global elements i.e Header from this page into a re-usable MVC layout.
            </li>
            <li>
                Update the page title in such a way that it can be set at each page.
            </li>
            <li>
                Extract the difficulty sections on the current page into their own MVC partials.
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Easy (10-20 Minutes)</small>
    </div>
</div>