<div class="card">
    <div class="card-body">
        <h5 class="card-title">Web API Endpoints</h5>
        <p class="card-text">Create one or more Web API endpoints to expose data in a consistent format.</p>
        <h6>Tasks:</h6>
        <ul>
            <li>
                Expose an endpoint that returns JSON from the events.json file provided with this solution.
            </li>
            <li>
                Ensure the returned data has consistent casing without altering the original file.
            </li>
            <li>
                Create a link in the top navigation to the exposed endpoint.
            </li>
        </ul>
        <h6>Bonus:</h6>
        <ul>
            <li>
                Expose an optional parameter that allows the caller to request the data be returned in a either a random or sequential order.
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <small class="text-muted">Medium (20-40 Minutes)</small>
    </div>
</div>